@font-face {
  font-family: 'IyagiGGC';
  src: url('./IyagiGGC.woff?v=2.0.1') format('woff'),
       url('./IyagiGGC.ttf?v=2.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}