@font-face{
  font-family:"IyagiGGC";
  src:url("./IyagiGGC.ttf") format("truetype"),
      url("./IyagiGGC.woff") format("woff"),
      url("./IyagiGGC.svg") format("svg");
  font-weight:normal;
  font-style:normal;
}

body, pre, input, textarea {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: 'IyagiGGC', monospace;
  line-height: 1;
}
